@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(7, 7, 7, 0.65), rgba(7, 7, 7, 0.65)),
    url('./img/image\ 5.svg') no-repeat center center fixed;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  width: 100%;
}

main {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

main .container {
  width: 61.94rem;
  max-height: 46.5rem;

  flex-shrink: 0;
  border-radius: 12px;
  background: #fafafa;

  padding: 20px 24px;
}

main .container a {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;

  color: #8c8c8c;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.1px;
  text-decoration: none;

  margin-bottom: 12px;
}

main .container a img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

main .container .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 24px;
}

main .container .title h1 {
  color: #161616;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

main .container .body {
  width: 100%;
  height: calc(100vh - 246px);
  overflow: auto;
}

.container .body section {
  display: flex;
  padding: 12px 16px 12px 24px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ebeeee;
  background: #fafafa;
  width: 100%;
}

.container .body section.background-gray {
  background: #ebeeee;
}

.container .body section h2 {
  color: #161616;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.container .body section button {
  width: 24px;
  height: 24px;

  border: none;
  outline: none;
  background: transparent;

  cursor: pointer;
}

@media (min-width: 768px) {
  main {
    width: 100%;
    padding: 0 24px;
  }
  main .container {
    width: 100%;
  }
}
